h1{
color: red;
font-size: 50px;
text-shadow: 8px 8px 8px gray;
}

button{
   background-color: red;
color: aliceblue;
width: 180px;
padding: 20px;
margin-left: 20px;
border-radius: 10px;
}
button:hover{
    background-color: gray;
    color: red;
}

img{
width: 300px;
height: 300px;
}