h1{
    text-align: center;
    color: red;
}


#heading1{
font-size: 40px;
background-color: black;
color: white;
text-align: center;

}

.paragraph{
    font-weight: bold;
 font-style: italic;   
}

#vip{
    background-color: darksalmon;
    display: flex;
    padding: 40px;
    margin: 30px;
    border-radius: 20px;
}

#vip:hover{
    background-color: aqua;
}
#vip img{
    margin-right: 30px;
}

#suprises{
    display: flex;
}

#suprises{
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 40px;
}
